body{
    font-family: "Montserrat";
}

#title {
   text-align: left;
}

#title.container-fluid{
   padding: 3% 15% 7%;
}

h1{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    
}

h3 {
    font-family: "Montserrat";
    font-weight: bold;
}
.container-fluid{
    padding: 7% 15% ;

}

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height:1.5;
}
/*Navigation bar*/

.navbar{
    padding: 0 0 3.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 4rem;
    font-weight: bold;
}
.nav-item{
    padding: 0px 18px;
    font-size: 1rem;
}
.nav-link{
   
    font-size: 1.2rem;
    font-family: "Ubuntu";
}

/* download button*/
.download button{
    margin: 6% 3% 5% 0%;
}
.title image{
    width:50%;
    transform: rotate(25deg) ;
    position: absolute;
    right: 30%;
}

/* features section */
#features{
    
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align:center;
    padding: 5%;
}

.icon {
    color:#ef8172;
    margin-bottom: 1 rem;
}

.icon:hover{
    color:#ff4768;
    
}

#testimonials{
    text-align: center;
    background-color:#ef8172;s
}

.testimonial-image{
   border-radius: 100% ;
   width:70%;
   margin:20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 30px 20px 50px;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

#cta{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}

.cta-heading{
    font-family: "Montserrat-black";
    font-size: 3.5rem;
    line-height: 1.5;
}


@media (max-width: 1028px){

    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

#footer{
    text-align: center;4
}